@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-light);
}
:root {
  --color-text-light: #333332;
  --color-background-light: #faf4e5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7ad0ac;
  --color-blue-light: #8395cd;
}
/* -------------------Experience------------------ */
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.experience_canvas {
  width: 100%;
  height: 100%;
}

/* -------------------Page------------------ */
.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page-wrapper {
  position: relative;
}
/* -------------------Toggle button------------------ */

.toggle-bar {
  position: fixed;
  top: 48px;
  right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;
}
.sun-wrapper,
.moon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 28px;
  border: none;
  cursor: pointer;
  background-color: var(--color-pink-light);
  border-radius: 99999px;
  margin: 0px 16px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}
.toggle-circle{
  position: absolute;
  left:6px;
  width:20px;
  height:20px;
  background-color: var(--color-background-light);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.toggle-btn:hover .toggle-circle{
  transform: scale(0.9);
}
/* -------------------Section------------------ */

.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background-light);
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-pink-light);
  padding-bottom: 400px;
}
.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}
.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
}
.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
}
.section-title {
  position: relative;
  color: var(--color-pink-light);
}
.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}
.section-title-decoration {
  position: absolute;
  border: 1px solid var(--color-pink-light);
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  transform-origin: left;
  transform: skewY(-25deg);
}
.section-title-decoration:nth-of-type(1) {
  top: 0;
}
.section-title-decoration:nth-of-type(2) {
  top: 80px;
}
.section-title-decoration:nth-of-type(3) {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink-light);
}
.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink-light);
  font-size: 24px;
}
/* -------------------Hero------------------ */
.hero {
  height: 100vh;
  width: 100vw;
}
.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}
.hero-main {
  position: absolute;
  bottom: 168px;
  left: 0;
}
.hero-second {
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
}
.hero-main-title {
  font-size: 64px;
}
.hero-main-description {
  font-size: 18px;
}
.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;
}
