@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}

:root {
  --color-text-light: #333332;
  --color-background-light: #faf4e5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7ad0ac;
  --color-blue-light: #8395cd;

  /* Dark Theme Variables */
  --color-text-dark: #faf4e5;
  --color-background-dark: #8395cd;
}
.light-theme {
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
}

h1,
section,
p,
span,
svg {
  transition: background-color 0.2s, color 0.2s, fill 0.2s ease;
}

/* -------------------Experience------------------ */
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.experience_canvas {
  width: 100%;
  height: 100%;
}

/* -------------------Page------------------ */
.page {
  z-index: 99999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.page-wrapper {
  position: relative;
}
/* -------------------Preloder-loading-screen----------------*/
.preloader {
  background-color: var(--color-background);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-pink);
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

.hidden {
  display: none;
}
@keyframes load {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-12px);
  }

  40% {
    transform: translateY(0);
  }
}
/* -------------------Preloder----------------*/
.animatedis {
  display: inline-block;
  font-size: inherit;
  color: inherit;
  transform: translateY(100%);
}
.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s linear alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

/* -------------------Toggle button----------------*/

.toggle-bar {
  position: fixed;
  top: 48px;
  right: 48px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;
}
.sun-wrapper,
.moon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-text);
}
.toggle-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 28px;
  border: none;
  cursor: pointer;
  background-color: var(--color-pink);
  border-radius: 99999px;
  margin: 0px 16px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}
.toggle-circle {
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.toggle-btn:hover .toggle-circle {
  transform: scale(0.9);
}
.slide {
  left: 30px;
}

/* -------------------Progress bar------------------ */
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}
.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}
.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}
.progress-bar {
  height: 100vh;
  width: 100%;
  background-color: var(--color-pink);
  transform-origin: top center;
  transform: scaleY(1);
}
.green-background {
  background-color: var(--color-green);
}
.blue-background {
  background-color: var(--color-blue);
}

/* -------------------Projects section------------------ */
.projects-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 70px;
  padding: 0% 4%;
}
.projects-btn {
  box-sizing: border-box;
  border: none;
  width: 30%;
  height: 40px;
  flex: 1;
  max-width: 150px;
  border-radius: 9999px;
  color: var(--color-background);
  font-weight: 600;
  font-size: 14px;
  background-color: var(--color-blue);
  cursor: pointer;
  transition: transform 200ms ease;
}
.projects-btn:hover {
  transform: scale(0.9);
}
.projects-btn[data-active="true"] {
  transform: scale(0.9);
}

.project-detail-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.project-detail-wrapper::-webkit-scrollbar {
  display: none;
}
.projects-section {
  /* min-width: 400px; */
  /* background-color: red; */
  min-width: fit-content;
  scroll-snap-align: start;
}
.project-links {
  display: flex;
  gap: 10px;
  font-size: small;
  text-align: center;
  margin-block: 5px 30px;
}
.project-links > a {
  text-decoration: none;
  color: var(--color-background);
  padding: 7px 30px;
  border-radius: 9999px;
  background-color:var(--color-blue);
  transition: transform 200ms ease;
}
.project-links > a:hover {
  transform: scale(0.95);
}
/* -------------------Section------------------ */

.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  position: relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}
.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}
.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-pink);
  padding-bottom: 400px;
}
.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}
.section-detail-wrapper:nth-of-type(2) {
  padding: 0% 5%;
}
.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
}
.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
}
.section-title {
  position: relative;
  color: var(--color-pink);
}
.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}
.section-title-decoration {
  position: absolute;
  border: 1px solid var(--color-pink);
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  transform-origin: left;
  transform: skewY(-25deg);
}
.section-title-decoration:nth-of-type(1) {
  top: 0;
}
.section-title-decoration:nth-of-type(2) {
  top: 80px;
}
.section-title-decoration:nth-of-type(3) {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}
.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 24px;
}
/* ----odd section---- */
.section:nth-of-type(odd) {
  color: var(--color-blue);
}
.section:nth-of-type(odd) .section-intro-wrapper,
.section:nth-of-type(odd) .section-title,
.section:nth-of-type(odd) .section-title-decoration,
.section:nth-of-type(odd) .section-number {
  border-color: var(--color-blue);
  color: var(--color-blue);
}
.section:nth-of-type(odd) .section-title-decoration:nth-child(4) {
  background-color: var(--color-blue);
}
/* ----even section---- */
.section:nth-of-type(even) {
  color: var(--color-green);
}
.section:nth-of-type(even) .section-intro-wrapper,
.section:nth-of-type(even) .section-title,
.section:nth-of-type(even) .section-title-decoration,
.section:nth-of-type(even) .section-number {
  border-color: var(--color-green);
  color: var(--color-green);
}
.section:nth-of-type(even) .section-title-decoration:nth-child(4) {
  background-color: var(--color-green);
}
.section:last-of-type{
  /* padding-bottom: 0px; */
}
/* -------------------Hero------------------ */
.hero {
  height: 100vh;
  width: 100vw;
}
.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}
.hero-main {
  position: absolute;
  bottom: 168px;
  left: 0;
}
.hero-second {
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
}
.hero-main-title {
  font-size: 64px;
}
.hero-main-description {
  font-size: 18px;
}
.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;
}

@media (max-width: 968px) {
  .section {
    width: 100%;
  }
  .progress-bar-wrapper-left {
    right: 0;
    left: auto;
  }
  .hero-main {
    bottom: 120px;
  }
  .hero-second {
    top: 210px;
  }
  .hero-wrapper {
    width: calc(100% - 60px);
  }
  .hero-main-title {
    font-size: 32px;
  }
  .hero-main-description {
    font-size: 18px;
  }
  .hero-second-subheading {
    font-size: 18px;
  }
}
